In [12]:
import pandas as pd
import numpy as np

In [13]:
df1 = pd.read_csv(r'..\data\netflix-rotten-tomatoes-metacritic-imdb.csv')
df2 = pd.read_csv(r'..\data\netflix_titles.csv')

In [17]:
df = pd.merge(
    df1,
    df2,
    how='inner',
    left_on='Title',
    right_on='title'
)

df.info(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6095 entries, 0 to 6094
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  6095 non-null   object
 1   Genre                  5735 non-null   object
 2   Tags                   6071 non-null   object
 3   Languages              5547 non-null   object
 4   Series or Movie        6095 non-null   object
 5   Hidden Gem Score       5601 non-null   float64
 6   Country Availability   6086 non-null   object
 7   Runtime                6094 non-null   object
 8   Director               4073 non-null   object
 9   Writer                 4363 non-null   object
 10  Actors                 5611 non-null   object
 11  View Rating            3728 non-null   object
 12  IMDb Score             5601 non-null   float64
 13  Rotten Tomatoes Score  2210 non-null   float64
 14  Metacritic Score       1445 non-null   float64
 15  Awards Received        2213 non-null   float64
 16  Awards Nominated For   2881 non-null   float64
 17  Boxoffice              1181 non-null   object
 18  Release Date           5532 non-null   object
 19  Netflix Release Date   6095 non-null   object
 20  Production House       1661 non-null   object
 21  Netflix Link           6095 non-null   object
 22  IMDb Link              5403 non-null   object
 23  Summary                6094 non-null   object
 24  IMDb Votes             5601 non-null   float64
 25  Image                  6095 non-null   object
 26  Poster                 4685 non-null   object
 27  TMDb Trailer           2714 non-null   object
 28  Trailer Site           2714 non-null   object
 29  show_id                6095 non-null   object
 30  type                   6095 non-null   object
 31  title                  6095 non-null   object
 32  director               4101 non-null   object
 33  cast                   5607 non-null   object
 34  country                5670 non-null   object
 35  date_added             6093 non-null   object
 36  release_year           6095 non-null   int64
 37  rating                 6093 non-null   object
 38  duration               6092 non-null   object
 39  listed_in              6095 non-null   object
 40  description            6095 non-null   object
dtypes: float64(7), int64(1), object(33)
memory usage: 2.0+ MB

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15480 entries, 0 to 15479
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  15480 non-null  object
 1   Genre                  13770 non-null  object
 2   Tags                   15413 non-null  object
 3   Languages              13545 non-null  object
 4   Series or Movie        15480 non-null  object
 5   Hidden Gem Score       13379 non-null  float64
 6   Country Availability   15461 non-null  object
 7   Runtime                15479 non-null  object
 8   Director               10772 non-null  object
 9   Writer                 11150 non-null  object
 10  Actors                 13555 non-null  object
 11  View Rating            8456 non-null   object
 12  IMDb Score             13381 non-null  float64
 13  Rotten Tomatoes Score  6382 non-null   float64
 14  Metacritic Score       4336 non-null   float64
 15  Awards Received        6075 non-null   float64
 16  Awards Nominated For   7661 non-null   float64
 17  Boxoffice              4007 non-null   object
 18  Release Date           13373 non-null  object
 19  Netflix Release Date   15480 non-null  object
 20  Production House       5149 non-null   object
 21  Netflix Link           15480 non-null  object
 22  IMDb Link              13177 non-null  object
 23  Summary                15471 non-null  object
 24  IMDb Votes             13379 non-null  float64
 25  Image                  15480 non-null  object
 26  Poster                 11842 non-null  object
 27  TMDb Trailer           7194 non-null   object
 28  Trailer Site           7194 non-null   object
dtypes: float64(7), object(22)
memory usage: 3.4+ MB

In [27]:
df1.isnull().sum()

Title                        0
Genre                     1710
Tags                        67
Languages                 1935
Series or Movie              0
Hidden Gem Score          2101
Country Availability        19
Runtime                      1
Director                  4708
Writer                    4330
Actors                    1925
View Rating               7024
IMDb Score                2099
Rotten Tomatoes Score     9098
Metacritic Score         11144
Awards Received           9405
Awards Nominated For      7819
Boxoffice                11473
Release Date              2107
Netflix Release Date         0
Production House         10331
Netflix Link                 0
IMDb Link                 2303
Summary                      9
IMDb Votes                2101
Image                        0
Poster                    3638
TMDb Trailer              8286
Trailer Site              8286
dtype: int64

In [28]:
df1.sample(10)

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
7904,"River, el m√°s grande siempre","Documentary, Sport","Argentinian Movies,Sports Movies,Documentaries...",Spanish,Movie,8.6,"Czech Republic,Australia,France,Belgium,Russia...",1-2 hour,"Mariano Mucci, Marcelo Altmark, Luis A. Scalella","Mariano Mucci, Enrique Albistur, Marcelo Altma...",...,2019-07-05,NaN,https://www.netflix.com/watch/80223153,NaN,Experience the highlights of Argentine soccer ...,106.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN
3122,The Last Black Man in San Francisco,Drama,"Social Issue Dramas,Dramas,Independent Movies,...",English,Movie,4.1,South Korea,> 2 hrs,Joe Talbot,"Jimmie Fails, Fritzi Adelman, Joe Talbot, Pren...",...,2020-06-14,"A24, Plan B Entertainment",https://www.netflix.com/watch/81049917,https://www.imdb.com/title/tt4353250,Weary of watching his gentrified city slip out...,14687.0,https://occ-0-1007-1360.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BNTQ5OT...,https://www.youtube.com/watch?v=C0FnJDhY9-0,YouTube
7157,Judge Singh LLB,Drama,"Comedies,Courtroom Dramas,Dramas,Indian Movies...",Punjabi,Movie,8.6,"Australia,Russia,Singapore,India,Hungary,Lithu...",> 2 hrs,Atharv Baluja,"Chandan Prabhakar, Vijay Soni, Atharv Baluja, ...",...,2018-09-30,NaN,https://www.netflix.com/watch/81024713,https://www.imdb.com/title/tt4678200,"Framed by a politician for committing murder, ...",204.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,https://images-na.ssl-images-amazon.com/images...,https://www.youtube.com/watch?v=595DS1aPoI4,YouTube
4862,Wotakoi: Love is Hard for Otaku,"Animation, Comedy, Romance","Comedy Anime,Romance Anime,Anime based on Comi...",Japanese,Series,8.0,Japan,< 30 minutes,NaN,NaN,...,2019-09-27,NaN,https://www.netflix.com/watch/81149659,https://www.imdb.com/title/tt8254880,A closeted fangirl begins dating a coworker an...,1623.0,https://occ-0-1007-1360.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BYjhlZj...,NaN,NaN
8752,The Job Lot,Comedy,"Comedy Programmes,British Programmes,TV Progra...",English,Series,7.9,United Kingdom,< 30 minutes,NaN,NaN,...,2018-03-31,NaN,https://www.netflix.com/watch/80989341,https://www.imdb.com/title/tt2885556,Employees at a dysfunctional British job cente...,1368.0,https://occ-0-1091-300.1.nflxso.net/dnm/api/v6...,https://images-na.ssl-images-amazon.com/images...,NaN,NaN
10130,Salaakhen,"Action, Drama","Crime Action & Adventure,Action Thrillers,Acti...",Hindi,Movie,7.5,"Lithuania,India,Australia,United Kingdom,Canad...",> 2 hrs,Guddu Dhanoa,Dilip Shukla,...,2017-04-01,NaN,https://www.netflix.com/watch/80158479,https://www.imdb.com/title/tt0286936,Two close childhood friends take drastically d...,403.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,http://ia.media-imdb.com/images/M/MV5BMGYwODg5...,NaN,NaN
4860,Skylines,"Crime, Drama, Music","German TV Shows,Hip-Hop,TV Dramas,Crime TV Shows",NaN,Series,7.7,"India,Lithuania,Mexico,Argentina,Brazil,Romani...",< 30 minutes,NaN,Dennis Schanz,...,2019-09-27,NaN,https://www.netflix.com/watch/80220715,https://www.imdb.com/title/tt9184970,A hip-hop producer gets hurled into the violen...,2268.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BZTJkYz...,NaN,NaN
5366,Neon Genesis Evangelion,"Animation, Action, Drama, Fantasy, Sci-Fi, Thr...","Cyborg & Robot Anime,Futuristic Sci-Fi,Action ...","Japanese, English",Series,4.2,"Lithuania,India,Slovakia,Spain,United Kingdom,...",< 30 minutes,NaN,Hideaki Anno,...,2019-06-21,NaN,https://www.netflix.com/watch/81033445,https://www.imdb.com/title/tt0112159,"Fifteen years after the Second Impact, Shinji ...",50749.0,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BYjY1Y2...,NaN,NaN
9766,World At Your Feet,Drama,"TV Programmes,TV Dramas,Singaporean Programmes",Chinese,Series,NaN,"Singapore,Hungary,Lithuania,India,Australia,Un...",< 30 minutes,NaN,NaN,...,2017-07-01,NaN,https://www.netflix.com/watch/80160125,https://www.imdb.com/title/tt4544590,A group of struggling individuals are united b...,NaN,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,NaN,NaN,NaN
13310,Room 205,Horror,"Horror Films,Scandinavian Films,International ...",Danish,Movie,5.9,"Lithuania,Poland,France,Italy,Spain,Greece,Cze...",1-2 hour,Martin Barnewitz,Jannik Tai Mosholt,...,2015-04-14,Nordisk Film,https://www.netflix.com/watch/70105903,https://www.imdb.com/title/tt1003005,"After moving into a new dorm, a coed begins to...",1369.0,https://occ-0-38-1501.1.nflxso.net/art/17031/4...,http://ia.media-imdb.com/images/M/MV5BMTg5OTMx...,NaN,NaN

In [29]:
cols_to_drop = ['Metacritic Score', 'Boxoffice', 'Production House', 'Image', 'Poster', 'TMDb Trailer', 'Trailer Site', 'Netflix Link', 'IMDb Link', 'Rotten Tomatoes Score', 'Awards Received', 'Awards Nominated For']
df1.drop(cols_to_drop, axis='columns', inplace=True)

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15480 entries, 0 to 15479
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 15480 non-null  object
 1   Genre                 13770 non-null  object
 2   Tags                  15413 non-null  object
 3   Languages             13545 non-null  object
 4   Series or Movie       15480 non-null  object
 5   Hidden Gem Score      13379 non-null  float64
 6   Country Availability  15461 non-null  object
 7   Runtime               15479 non-null  object
 8   Director              10772 non-null  object
 9   Writer                11150 non-null  object
 10  Actors                13555 non-null  object
 11  View Rating           8456 non-null   object
 12  IMDb Score            13381 non-null  float64
 13  Release Date          13373 non-null  object
 14  Netflix Release Date  15480 non-null  object
 15  Summary               15471 non-null  object
 16  IMDb Votes            13379 non-null  float64
dtypes: float64(3), object(14)
memory usage: 2.0+ MB

In [31]:
df1.isnull().sum()

Title                      0
Genre                   1710
Tags                      67
Languages               1935
Series or Movie            0
Hidden Gem Score        2101
Country Availability      19
Runtime                    1
Director                4708
Writer                  4330
Actors                  1925
View Rating             7024
IMDb Score              2099
Release Date            2107
Netflix Release Date       0
Summary                    9
IMDb Votes              2101
dtype: int64

In [32]:
df1.describe()

       Hidden Gem Score    IMDb Score    IMDb Votes
count      13379.000000  13381.000000  1.337900e+04
mean           5.937551      6.496054  4.272841e+04
std            2.250202      1.146910  1.257012e+05
min            0.600000      1.000000  5.000000e+00
25%            3.800000      5.800000  4.035000e+02
50%            6.800000      6.600000  2.322000e+03
75%            7.900000      7.300000  2.089050e+04
max            9.800000      9.700000  2.354197e+06